h1{
    text-align: center;
    color:black;
    font-family: "Gill Sans", 'Gill Sans MT',
    calibri, 'Trebuchet MS',sans sans-serif;
}
.cuerpo{
    height: 400px;
    background-color:black;
    border-bottom: 0%;
}
.piedepagina{
    height: 100px;
    background-color:white;
    border-bottom: 0%;
}
.cabeza{
    height: 100px;
    background-color:white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    }

    li{ float:right;}
    li a{
        display: block;
        color:black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    li a:hover{
        background-color:gray;}
        
        body{
            background-color:white;
            margin: 0;
        }
        P{
            text-align: center;
        }
        h2{
            text-align: center;
            color: black;
        }
        p{
            text-align: center;
            color: white;
        }