h1{
    text-align: center;
    color:white;
    font-family: "Gill Sans", 'Gill Sans MT',
    calibri, 'Trebuchet MS',sans sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    }

    li{ float:right;}
    li a{
        display: block;
        color:white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    li a:hover{
        background-color:gray;}
    
        body{
            background-color:black;
            margin: 0;
        }
        .cabeza{
            height: 100px;
            background-color:black;
        }
        .cuerpo{
            height: 400px;
            background-color:white;
            border-bottom: 0%;
            text-align: center;
        }
        .piedepagina{
            height: 100px;
            background-color:dimgray;
        }
        img{
            float:left;
        }
        div img{
        float:right;
        }
        h2{
            color: white;
            text-align: center;
        }
        section img{
            float:center;
        }
       
       
       