h1{
    text-align: center;
    color:white;
    font-family: "Gill Sans", 'Gill Sans MT',
    calibri, 'Trebuchet MS',sans sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    }

    li{ float:left;}
    li a{
        display: block;
        color:black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    li a:hover{
        background-color:gray;}
    
        body{
            background-color:white;
            margin: 0;
            color:black;
           
        }
        .cabeza{
            height: 100px;
            background-color:black;
        }
      
        .piedepagina{
            height: 100px;
            background-color:black;
            border-color:black;
        }
        img{
            float:left;
        }
        div img{
        float:right;
        }
        div{
            text-align:left;

        }
        h2{
            text-align: center;
            color:white;
        }
        footer h2{
            color:black;
        }
        div ul{
            text-align: left;
        }
      .container{
        color:white;
        background-color:black;
        
      }
      div li{
        color:chartreuse;
      }

        
        
       